<h5 class="alert alert-primary" role="alert">Search Result!</h5>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col"><%= link_to " Name", :sort => "name"%></th>
            <th scope="col"><%= link_to " Location", :sort => "location"%></th>
            <th scope="col"><%= link_to " Species", :sort => "species"%></th>
            <th scope="col"><%= link_to " Gender", :sort => "gender"%></th>
            <th scope="col"><%= link_to " Affiliations", :sort => "affiliations"%></th>
            <th scope="col"><%= link_to " Weapon", :sort => "weapon"%></th>
            <th scope="col"><%= link_to " Vehicle", :sort => "vehicle"%></th>
        </tr>
    </thead>
    <tbody>
        <% @people.each do |person| %>
        <tr>

            <th scope="row"></th>
            <td><%= person.Name.titleize %></td>
            <td><%= person.Location.titleize %></td>
            <td><%= person.Species %></td>
            <td><%= person.Gender %></td>
            <td><%= person.Affiliations %></td>
            <td><%= person.Weapon %></td>
            <td><%= person.Vehicle %></td>
        </tr>
        <% end %>
    </tbody>
</table>